/* Container styling */

.container {

    font-family: 'Roboto';

    max-width: 65vw;

    margin-left: auto;

    margin-right: auto;

}

a {
  color: black;
  font-weight: bold;
  font-size: 25px;
}